{% extends 'admin.html.twig' %}

{% block title %}Gérer les States{% endblock %}

{% block body %}
    <main>
        <h1 class="text-5xl font-bold text-gray-500">Les States</h1>
        <br>
        <br>
        <br>
        
        
        <table class="border-collapse border border-slate-500..."  >
            <thead>
                <tr>
                    <th class="border border-slate-600..." width="500px" height="50px">
                        Nom
                    </th>
                    <th class="border border-slate-600..." width="300px" >
                        Date de création
                    </th>
                    <th class="border border-slate-600..." width="150px">
                        Env
                    </th>
                    <th class="border border-slate-600..." width="150px">
                        Version
                    </th>
                    <th class="border border-slate-600..." width="500px" height="50px">
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
            {% for state in states %}
                
                <tr>
                    <td class="border border-slate-700... " width="500px" height="50px">
                        {{state.name}}
                    </td>
                    <td class="border border-slate-700..." width="300px">
                        {{state.createdDate|date('d/m/Y')}}
                    </td>
                    <td class="border border-slate-700..." width="150px">
                        {{state.env.name}}
                    </td>
                    <td class="border border-slate-700..." width="150px">
                        {{state.version.name}}
                    </td>
                    <td class="border border-slate-700..." width="500px"> 
                        <a href="{{path('adminState.edit', {id: state.id})}}"  class="px-4 py-1 text-sm text-purple-600 font-semibold rounded-full border border-purple-200
                         hover:text-white hover:bg-purple-600 hover:border-transparent focus:outline-none focus:ring-2 focus:ring-purple-600 focus:ring-offset-2">Editer</a>


                        <form method="post" action='{{path('adminState.delete', {id: state.id})}}' style="display: inline-block;" onsubmit="return confirm('Etes-vous vraiment sure de vouloir supprimer cette state?')">
                            <input type='hidden' name='_method' value='DELET'/>
                            <input type='hidden' name='_token' value='{{csrf_token('delete' ~ state.id)}}'/>
                            <button class="px-4 py-1 text-sm text-red-600 font-semibold rounded-full border border-red-200 hover:text-white hover:bg-red-600 
                            hover:border-transparent focus:outline-none focus:ring-2 focus:ring-red-600 focus:ring-offset-2">Supprimer</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>
        <br>
        <a href="{{path('adminState.new')}}" class="px-10 py-2 text-sm text-purple-600 font-semibold rounded-full border border-purple-200 hover:text-white hover:bg-purple-600 hover:border-transparent focus:outline-none focus:ring-2 focus:ring-purple-600 focus:ring-offset-2" height="50px" style="margin-left: 80%; font-weight: bold;">Ajouter une nouvelle version </a>
        <!-- Content -->
    </main>
    <script src="https://cdn.tailwindcss.com"></script>
{% endblock %}


